---
layout: default
globals:
  site_name:
    label: Company Name
    type: text
    value: Blocker Page
---
{% block header %}
<section class="section">
  {% block_container main %}
    example
    example
    example
  {% endblock_container %}
</section>
