---
layout: default
globals:
  company_name:
    label: Company Name
    type: text
    value: ACME 2.0
---
{% block header %}
<div class="content page">
  {% block_container main %}
    example
    example
    example
  {% endblock_container %}
</div>
