---
text:
  type: text
  value: >-
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id sapien
    dolor. Mauris ut ante a eros euismod cursus a nec orci. Vivamus in nisl
    rutrum, auctor urna nec, imperdiet mauris. Nunc dignissim augue blandit
    bibendum vulputate. Nullam semper nisl sit amet tellus volutpat, nec porta
    erat finibus. Cras lobortis, sapien ut mollis viverra, turpis orci luctus
    erat, sed faucibus odio dolor non mi. Donec sed lorem feugiat, porta nunc
    ac, ornare quam. Pellentesque in risus orci. Proin sit amet rhoncus eros,
    et interdum ligula.
---
<p>{{ text }}</p>

