---
title:
  type: text
  value: default h1
subtitle:
  type: text
  value: >-
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Vivamus id sapien dolor.
    Mauris ut ante a eros euismod cursus a nec orci.
---
<section class="hero">
  <div class="hero-body">
    <h1 class="title">{{ title }}</h1>
    <h2 class="subtitle">{{ subtitle }}</h2>
  </div>
</section>
