---
title:
  type: text
  value: default h1
subtitle:
  type: text
  value: >-
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Vivamus id sapien dolor.
    Mauris ut ante a eros euismod cursus a nec orci.
---
<header>
  <h1>{{ title }}</h1>
  <h2>{{ subtitle }}</h2>
  <h3>{{ globals.company_name }}</h3>
</header>

